@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Raleway:wght@300&family=Teko:wght@300&display=swap");

.fontStyale {
  font-family: "Oswald", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Teko", sans-serif;
}
